@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f8ff;  /* Light blue background */
}

html, body {
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.home-background {
  background: linear-gradient(120deg, #f0f8ff, #1d84b4);
  min-height: 100vh;
  padding: 5px;
}

.profile-container {
  background: linear-gradient(135deg, #d1e7f2, #a6c6e2); /* Deeper shades */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
}
.post-job-background {
  background: linear-gradient(140deg, #8cb7cd, #092843); /* Deeper shades */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2px;
}


.form-item {
  margin-bottom: 20px !important;
}

button {
  background-color: #001529 !important;
  color: white !important;
  border-radius: 5px !important;
  margin-right: 10px;
}

button:hover {
  background-color: #1890ff !important;
}

.ant-tabs-nav .ant-tabs-tab {
  font-size: 18px !important;
}

.ant-tabs-tab-active {
  color: #1890ff !important;
}

.ant-tabs-ink-bar {
  background: #1890ff !important;
}

.ant-form-item-label > label {
  font-weight: bold;
}

.job-div {
  border-radius: 15px !important;
  background-color: #ffffff;
  padding: 20px;
  margin: 10px 0;
  transition: box-shadow 0.3s ease-in-out;
}

.job-div:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px, rgba(0, 0, 0, 0.30) 0px 6px 6px;
}

input, textarea {
  border: 1px solid #001529 !important;
  box-shadow: none !important;
  padding: 10px !important;
}

.heading1, .heading2 {
  font-size: 100px !important;
  color: white !important;
  text-align: center !important;
}

.heading1 {
  border-top: 10px solid tomato !important;
  margin: 10px;
}

.heading2 {
  border-bottom: 10px solid yellow !important;
  margin: 10px;
}
